.jobs-wrapper
  .job
    .job-head
      .thumb-img
      .user-name
        = job.user.user_name
      .time-ago
        = time_ago_in_words job.created_at
    .image.center-block
      = link_to (image_tag job.image.url(:medium), class:'img-responsive'), job_path(job)
    .job-bottom
      .title
        .title-content
          .user-name
            = job.user.user_name
          = job.title
        .comments{id: "comments_#{job.id}"}
          - if job.comments
            = render job.comments, job: job
    .comment-like-form.row
      .like-button.col-sm-1
        %span(class="glyphicon glyphicon-heart-empty")
      .comment-form.col-sm-11
        =form_for([job, job.comments.build], remote: true) do |f|
          = f.text_field :content, placeholder: 'Add a comment.', class: "comment_content", id: "comment_content_#{job.id}"
