.center.jumbotron
  %h1 Welcome to Jobbee
  %h1 The ASEAN Tech Jobs Portal
  %h2
    This is the home page for the
    %a{:href => "https://www.github.com/ajmalnabil/jobbee"} Jobbee Job Portal
    web application.

%h2 Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Log in"
= render "devise/shared/links"
